<div class="answer {{ wrong }} {{ correct }}" id="d-answer-{{answer.id}}">
{% if answerType == 'checkbox' %}
  <input type="checkbox" name="answer[]" {{checked}} value="{{answer.id}}" id="answer-{{answer.id}}"/><label for="answer-{{answer.id}}">{{ answerText }}</label>
{% else %}
  <input type="{{ answerType }}" name="answer" {{checked}} value="{{answer.id}}" id="answer-{{answer.id}}"/><label for="answer-{{answer.id}}">{{ answerText }}</label>
{% endif %}
</div>