<div class="answer" id="d-answer-{{answer.id}}">
  <input type="{{ answerType }}" name="answer" value="{{answer.id}}" id="answer-{{answer.id}}"/><label for="answer-{{answer.id}}">{{ answer.answer }}</label>
</div>