{% extends "project/apps/adm/layouts/layout.twig" %}

{% block content_container %}
	<div class="content-container">
          <script>
            var maxAnswers = {{ question.maxAnswers }}
            </script>
            <div class='question'>
              <div class="max-answers">Max Answers: {{ question.maxAnswers }}</div>
              <div class='question-id'>Question ID: {{ question.id }} <span class="match-type">Match Type: {{ question.matchType }}</span></div>
              <h2>Question</h2>
              <div class="clearfix"></div>
              {{ questionText }}
            </div>
            <form method="POST" id="answer-form">
              <div class='answer-container'>
                <h2>Answers</h2>
                {{ answers }}
              </div>
              <div class="commands">
                <input type="checkbox" class="flag" name="flag" id="flag"/><label for="flag" class="flag">Flag</label>
                <div class="clearfix"></div>
                {% if nextButton %}
                <input type="submit" class="submit" id="submit" name="submit" value="Next"/>
                {% else %}
                <input type="submit" class="submit" id="submit" name="submit" value="Submit"/>
                {% endif %}
              </div>
            </form>
            {% if showTip %}
            <div class="tip">
              <h2>Tip</h2>
              {{ tipText }}
            </div>
            {% endif %}
            
	</div>
{% endblock content_container %}